// Font Specs
$font-family: 'Nunito', sans-serif;
$font-size-small: 11px;
$font-size-normal: 15px;
$font-size-medium: 19px;
$font-size-large: 23px;

// Colors
$white: #FFFFFF;
$primary: #212B36;
$secondary: #B9C6CE;
$blue-bell: #998FC7;
$lavender-blue: #D4C2FC;
$moss-green: #8A9B68;
$eton-blue: #85B79D;
$dark-jungle-green: #16302B;
$mellow-apricot: #F4B266;
$metallic-sunburst: #9B7E46;
$flame: #D95D39;
$space-cadet: #202C59;
$frost: #6B9AC4;
$turquoise: #0ac39b;
$mystic: #D65780;
$dark-salmon: #EE9480;
$teal: #17BEBB;
$dark-purple: #4B1D3F;
$light-gray: #E9EBFC;
$blueish-gray: #9C9EB6;